@page

@model WebApplication1.Pages.IndexModel
@{
   
  
}

<!DOCTYPE html> 
<html>

<head>
    <title>Page Title</title> 
</head> 
<body>
    <div class="container text-center">
        <div class="row g-2">

 
            <div class="col-6">
                <div class="p-3">
                    <img src="~/2.jpg" class="img-fluid" alt="...">
                </div>
            </div>
            <div class="col-6">
                <div class="p-3">
                    <img src="~/3.jpg" class="img-fluid" alt="...">
                </div>
            </div>
            <div class="col-12">
                <div class="p-1">
                    <img src="~/indeximg.jpeg" class="img-fluid" alt="تصویر یافت">
                </div>
            </div>

        </div>
    </div>
 
     
     
</body> 
</html>


